<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [translate]="'tuto'"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
      <ion-slide class="slider">
          <ion-grid fixed>
            <ion-row>
              <ion-col><h1 [translate]="'welcomeMsg'"></h1></ion-col>
            </ion-row>
            <ion-row>
              <ion-col><img src="assets/imgs/icon.png" class="moyen" /></ion-col>
            </ion-row>
            <ion-row>
              <ion-col [translate]="'discoverFct'"></ion-col>
            </ion-row>
           </ion-grid>
        </ion-slide>
    <ion-slide class="slider">
      <ion-grid fixed>
        <ion-row>
          <ion-col [translate]="'step1Tuto'"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><img src="assets/imgs/1.png" class="mockup" /></ion-col>
        </ion-row>
       </ion-grid>
    </ion-slide>

    <ion-slide class="slider">
      <ion-grid fixed>
        <ion-row>
          <ion-col [translate]="'step2Tuto'"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><img src="assets/imgs/3.png" class="mockup" /></ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="slider">
      <ion-grid fixed>
        <ion-row>
          <ion-col [translate]="'step3Tuto'"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><img src="assets/imgs/2.png" class="mockup" /></ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="slider">
      <ion-grid fixed>
        <ion-row>
          <ion-col [translate]="'step4Tuto'"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><img src="assets/imgs/4.png" class="mockup" /></ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="slider">
      <ion-grid fixed>
        <ion-row>
          <ion-col [translate]="'step5Tuto'"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><img src="assets/imgs/5.png" class="mockup" /></ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="slider">
      <ion-grid fixed>
        <ion-row>
          <ion-col [translate]="'step6Tuto'"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><img src="assets/imgs/6.png" class="mockup" /></ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide class="slider">
      <ion-grid fixed>
        <ion-row>
          <ion-col> <span [translate]="'step7Tuto'"></span> <button ion-button block color="danger" class="rognee"><ion-icon src="../../../assets/icon/cisaille.svg"></ion-icon>
            </button> <span [translate]="'step7BisTuto'"></span>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col><img src="assets/imgs/ecime1.png" class="mockup" /></ion-col>
        </ion-row>
        <ion-row>
            <ion-col><img src="assets/imgs/ecime2.png" class="mockup" /></ion-col>
          </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="slider">
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <img src="assets/imgs/logoblanc.png" class="mockup" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col [translate]="'finalStepTuto'">
          </ion-col>        
        </ion-row>
        <ion-row>
            <ion-col><b>www.apexvigne.agrotic.org</b></ion-col>
          </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer class="foot">
  <ion-toolbar >
    <div class="ion-text-center">
      <ion-button type="submit" size="small"  (click)="closeTuto()" [translate]="'backToHome'"></ion-button>
    </div>
  </ion-toolbar>
</ion-footer>