ion-content{
    --ion-background-color: #26c4d8;
    height: 100%;
}
ion-slides {
    --bullet-background: black;
}
.slider{
    color: whitesmoke;
    background-color: #26c4d8;
}
.moyen{
    width: 70px;
}
.mockup{
    width: 53%;
}
.foot{
    text-align: center;
}

.toolbar-background-md{
    background-color: #26c4d8 !important;
}
.rognee{
    display: inline;
    // width: 20%;
}

.toolbar-header {
    --background: rgba(76, 185, 196, 1);
    --background: -moz-linear-gradient(45deg, rgba(76, 185, 196, 1) 0%, rgba(61, 211, 174, 1) 100%);
    --background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(76, 185, 196, 1)), color-stop(100%, rgba(61, 211, 174, 1)));
    --background: -webkit-linear-gradient(45deg, rgba(76, 185, 196, 1) 0%, rgba(61, 211, 174, 1) 100%);
    --background: -o-linear-gradient(45deg, rgba(76, 185, 196, 1) 0%, rgba(61, 211, 174, 1) 100%);
    --background: -ms-linear-gradient(45deg, rgba(76, 185, 196, 1) 0%, rgba(61, 211, 174, 1) 100%);
    --background: linear-gradient(45deg, rgba(76, 185, 196, 1) 0%, rgba(61, 211, 174, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cb9c4', endColorstr='#3dd3ae', GradientType=1);
    --color: #ffffff;
    color: white;
}
ion-menu-button{
    color: #ffffff;
}

ion-slides{
    height: 100%;
}

ion-slides {
   // --bullet-background: red;
    --bullet-background-active: white;
}
