ion-content{
    --ion-background-color: #26c4d8;
    height: 100%;
}
ion-slides {
    --bullet-background: red;
}
.slider{
    color: whitesmoke;
    background-color: #26c4d8;
}
.moyen{
    width: 70px;
}
.mockup{
    width: 55%;
}
.foot{
    text-align: center;
}

.toolbar-background-md{
    background-color: #26c4d8 !important;
}
.rognee{
    display: inline;
    // width: 20%;
}
