<ion-list>
  <!--<ion-list-header color="dark">
    <ion-label class="fw700">Actions supplémentaires</ion-label>
  </ion-list-header>-->

  <ion-item (click)="stadePheno()">
    <ion-icon name="leaf" color="success"></ion-icon>
    <ion-label [translate]="'addPheno'"></ion-label>
  </ion-item>

  <ion-item (click)="commentaire()">
    <ion-icon name="chatbox-ellipses" color="secondary"></ion-icon>
    <ion-label [translate]="'addComment'"></ion-label>
  </ion-item>

  <ion-item (click)="ecimee()">
    <ion-icon src="../../../assets/icon/cisaille.svg" ></ion-icon>
    <ion-label [translate]="'markAsTopped'"></ion-label>
  </ion-item>

  <ion-item (click)="deleteLastObs()">
    <ion-icon name="return-down-back-sharp" color="danger"></ion-icon>
    <ion-label [translate]="'deleteLastObs'"></ion-label>
  </ion-item>

</ion-list>