.toolbar-header{
    --background: rgba(76,185,196,1);
    --background: -moz-linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
    --background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(76,185,196,1)), color-stop(100%, rgba(61,211,174,1)));
    --background: -webkit-linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
    --background: -o-linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
    --background: -ms-linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
    --background: linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cb9c4', endColorstr='#3dd3ae', GradientType=1 );
    --color:#ffffff;
}
.title_center{
  text-align: center;
}
.alignRight{
  text-align: right;
}

.iconSize {
  font-size: 20px;
}

.shadowInput{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(230, 131, 94, 0.438);

}
  .title {
    text-align: center;
  }

  .parcelleName {
    text-align: center;
    //font-weight: bold;
    color: rgb(39, 63, 87);
  }

  .parcelle {
    width: 100%;
  }

  .al-right {
    text-align: right;
  }

  .imgsize {
    width: 50px;
    height: 50px;
  }

  .datecss{
    width: 80px;
  }

  .rognee{
    display: inline-block;
    width: 20%;
  }
  .compute{
    width: 78%;
    display: inline-block;
  }

  .graycolor{
    color: rgb(88, 88, 88);
  }

  .nopadding {
    padding: 0;
  }