<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [translate]="'about'"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4 class="titleh" [translate]="'apexvigne'"></h4>
  <p class="version" [translate]="'version'"></p>
<p class="pjustify" [innerHTML]="'appDescription' | translate"></p>

<h4 class="titleh" [translate]="'partners'"></h4>
<ion-grid>
<ion-row>
  <ion-col>
    <img src="assets/imgs/supagro.jpg" class="imglogo" />
  </ion-col>
</ion-row>
<ion-row>
  <ion-col col-auto>
    <img src="assets/imgs/agrotic.png" class="imglogo" />
  </ion-col>
  <ion-col>
    <img src="assets/imgs/logo_occitanie.jpg" class="imglogo" />
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <img src="assets/imgs/ifv.png" class="imglogo2" />
  </ion-col>
  <ion-col>
    <img src="assets/imgs/ca34.jpg" class="imglogo2" />
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
