<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4 class="titleh">Application ApeX-Vigne </h4>
  <p class="version">Version 4.3.7</p>
<p class="pjustify">Cette application a été développée par l'équipe <b>AgroTIC de l'institut Agro - Montpellier SupAgro</b> avec le
soutien de la <b>région Occitanie</b> dans le cadre de travaux menés depuis plusieurs années en partenariat avec
l'<b>Institut Français de la Vigne et du vin</b> et <b>la chambre d'agriculture de l'Hérault</b>.</p>

<h4 class="titleh">Partenaires :</h4>
<ion-grid>
<ion-row>
  <ion-col>
    <img src="assets/imgs/institut_agro_logo.png" class="imglogo" />
  </ion-col>
</ion-row>
<ion-row>
  <ion-col col-auto>
    <img src="assets/imgs/agrotic.png" class="imglogo" />
  </ion-col>
  <ion-col>
    <img src="assets/imgs/logo_occitanie.jpg" class="imglogo" />
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <img src="assets/imgs/ifv.png" class="imglogo2" />
  </ion-col>
  <ion-col>
    <img src="assets/imgs/ca34.jpg" class="imglogo2" />
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
