<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [translate]="'apexMethd'"></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <h4 class="titleh" [translate]="'titleApexMeth'"></h4>
  <h5 [translate]="'understdApexMeth'"></h5>
  <p class="pjustify" [translate]="'apexMethContent'">
  </p>

  <p class="pjustify" [translate]="'methDesc'">
  </p>
  <h5 [translate]="'recognApexCat'"></h5>
  <p class="centerclass" [innerHTML]="'growApex' | translate"></p>
  <p class="pjustify" [translate]="'growApexDesc'"></p>
  <img src="assets/imgs/stadeP.jpg" />
  <p class="centerclass" [innerHTML]="'slowApex' | translate"></p>
  <p class="pjustify" [translate]="'slowApexDesc'">
  </p>
  <img src="assets/imgs/stadeR.jpg" />
  <p class="centerclass" [innerHTML]="'stopApex' | translate"></p>
  <p class="pjustify" [translate]="'stopApexDesc'"></p>
  <img src="assets/imgs/stadeC.jpg" />

  <p class="pjustify" [translate]="'remark'"></p>

  <h5 [translate]="'understdIcApex'"></h5>

  <p class="pjustify" [translate]="'icApexDesc'"></p>

  <p class="pjustify" [translate]="'icApexDesc2'"></p>

  <h5 [translate]="'defineSampling'"></h5>
  <p class="pjustify" [translate]="'defineSamplingDesc'"></p>

  <hr>
  <h4 class="titleIFV" [translate]="'titleIFV'"></h4>
  <p class="pjustify" [translate]="'ifvDesc'"></p>
  <p class="pjustify" [translate]="'ifvDesc2'"></p>
  <ul>
    <li [translate]="'lvl0'">
      
    </li>
    <li [translate]="'lvl1'">
      
    </li>
    <li [translate]="'lvl2'">
      
    </li>
    <li [translate]="'lvl3'">
      
    </li>
  </ul>
  <p class="pjustify" [translate]="'studyDesc'">
  </p>


</ion-content>
