.toolbar-header{
  --background: rgba(76,185,196,1);
  --background: -moz-linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
  --background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(76,185,196,1)), color-stop(100%, rgba(61,211,174,1)));
  --background: -webkit-linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
  --background: -o-linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
  --background: -ms-linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
  --background: linear-gradient(45deg, rgba(76,185,196,1) 0%, rgba(61,211,174,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cb9c4', endColorstr='#3dd3ae', GradientType=1 );
  --color:#ffffff;
}
 
.alignRight{
  text-align: right;
}

.nopadding {
  padding: 0;
}
.iconS {
  font-size: 30px;
}
.iconSize {
  // font-size: 20px;
  font-size: 15px;
  //font-weight: bold;
  color: white;
}

 .shadowInput{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(230, 131, 94, 0.438);
  }
  .graycolor{
    color: rgb(88, 88, 88);
  }
  .rognee{
    width: 20%;
    display: inline-block;
  }
  .compute{
    width: 78%;
    display: inline-block;
  }
  .box{
    //background-color: rgba(194, 194, 194, 0.5);
    box-shadow: 1px 1px 2px rgb(82, 82, 82);
    margin-left: 2px;
    margin-right: 2px;
  }

  .boxtop{
    //background-color: rgb(44, 97, 9);
    background: -webkit-linear-gradient(top, rgba(44, 97, 9, 1) 0%,rgba(44, 97, 9, 0.6) 100%);
    background: linear-gradient(to bottom, rgba(44, 97, 9, 1) 0%,rgba(44, 97, 9, 0.6) 100%);
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .boxtop:active {
    background: -webkit-linear-gradient(top, rgba(44, 97, 9, 0.8) 0%,rgba(44, 97, 9, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(44, 97, 9, 0.8) 0%,rgba(44, 97, 9, 0.5) 100%);
  }

  .boxmiddle{
    //background-color: rgb(197, 220, 104);
    background: -webkit-linear-gradient(top, rgba(197, 220, 104, 1) 0%,rgba(197, 220, 104, 0.6) 100%);
    background: linear-gradient(to bottom, rgba(197, 220, 104, 1) 0%,rgba(197, 220, 104, 0.6) 100%);
  }
  .boxmiddle:active{
    background: -webkit-linear-gradient(top, rgba(197, 220, 104, 0.8) 0%,rgba(197, 220, 104, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(197, 220, 104, 0.8) 0%,rgba(197, 220, 104, 0.5) 100%);
  }

  .boxbottom{
    //background-color: rgb(110, 150, 36);
    background: -webkit-linear-gradient(top, rgba(110, 150, 36, 1) 0%,rgba(110, 150, 36, 0.6) 100%);
    background: linear-gradient(to bottom, rgba(110, 150, 36, 1) 0%,rgba(110, 150, 36, 0.6) 100%);
    margin-bottom: 20px;
  }
  .boxbottom:active{
    background: -webkit-linear-gradient(top, rgba(110, 150, 36, 0.8) 0%,rgba(110, 150, 36, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(110, 150, 36, 0.8) 0%,rgba(110, 150, 36, 0.5) 100%);
  }

  .title {
    text-align: center;
  }

  .imgBox{
    width: 120px;
    height: 120px;
    border: #4F5966 solid 1px;
  }

  .parcelleName {
    text-align: center;
    //font-weight: bold;
    color: rgb(39, 63, 87);
  }

  .parcelle {
    width: 100%;
  }

  .apex-title {
    position: absolute;
    top: 27%;
    font-size: 2em;
    line-height: 1em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  }

  .apexbutton{
    height: 25%;
  }
  
  .apeximg{
    height: 100%;
  }
  
  .al-right{
    text-align: right;
  }

  .card-background-page {
  
    ion-card {
      height: 27%;
      width: 70%;
      position: relative;
      text-align: center;
      background-color: #4F5966;
      margin-left: auto;
      margin-right: auto;
    }
  
    .card-img{
      height: 100%;
      // width: 60%;
    }
  
    .card-title {
      position: absolute;
      top: 10%;
      font-size: 2em;
      line-height: 1em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    }
  
    .card-subtitle {
      font-size: 1.2em;
      position: absolute;
      top: 80%;
      width: 100%;
      color: #fff;
      text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    }
  
    .parcelle{
      width: 100%;
    }
  }