<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-grid *ngIf="idParcelle">
        <ion-row (click)="resetNomParcelle()">
          <ion-col class="titleparcelle">
            {{nomParcelle}}
          </ion-col>
          <ion-col col-auto>
            <ion-title class="alignRight">
              <ion-icon name="create"></ion-icon>
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    <div *ngIf="!idParcelle">
      <table class="parcelle">
        <tr>
          <td class="paddinLeft">
            <ion-item class="shadowInput" *ngIf="isList">
              <ion-label>Choisir une parcelle</ion-label>
              <ion-select [(ngModel)]="idParcelle" okText="Ok" cancelText="Annuler" (ionCancel)="onCancel()"
                (ionChange)="changeParcelle()">
                <ion-select-option *ngFor="let parcelle of selectParcelle" value="{{parcelle.id_parcelle}}">{{parcelle.nom_parcelle}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="!isList" class="al-right graycolor">
              <i>Ajouter le nom d'une parcelle -></i>
            </ion-item>
          </td>
          <td class="center">
            <ion-button color="light" (click)="newNameParcelle()">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button></td>
        </tr>
      </table>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-grid class="main">
    <ion-row (click)="addapex('0')" class="box boxtop">
      <ion-col class="vertical">
        <img src="assets/imgs/stadeP.jpg" class="imgBox" />
      </ion-col>
      <ion-col>
        <span class="apex-title">Pleine croissance</span>
      </ion-col>
    </ion-row>
    <ion-row (click)="addapex('1')" class="box boxbottom">
      <ion-col class="vertical">
        <img src="assets/imgs/stadeR.jpg" class="imgBox" />
      </ion-col>
      <ion-col>
        <span class="apex-title">Croissance ralentie</span>
      </ion-col>
    </ion-row>
    <ion-row (click)="addapex('2')" class="box boxmiddle">
      <ion-col class="vertical">
        <img src="assets/imgs/stadeC.jpg" class="imgBox" />
      </ion-col>
      <ion-col>
        <span class="apex-title">Arrêt de croissance</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid class="nopadding">
    <ion-row class="nopadding">
      <ion-col col-auto class="nopadding">
        <ion-button expand="block" color="danger" (click)="parcelleEcimee()">
          <ion-icon src="../../../assets/icon/cisaille.svg"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col col-auto class="nopadding">
        <ion-button expand="block" color="light" (click)="deleteLast()">
          <ion-icon name="return-down-back-sharp"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col col-auto class="nopadding">
        <ion-button expand="block" color="medium" (click)="stadePheno()">
          <ion-icon name="leaf"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col col-auto class="nopadding">
        <ion-button expand="block" color="dark" (click)="commentaire()">
          <ion-icon name="chatbox-ellipses"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="nopadding">
      <!--<ion-col size="2" class="nopadding">
        <ion-button expand="block" color="danger" (click)="parcelleEcimee()">
          <ion-icon class="iconS"  src="../../../assets/icon/cisaille.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2" class="nopadding">
        <ion-button expand="block" color="warning" (click)="deleteLast()">
          <ion-icon class="iconS" name="return-down-back-sharp"></ion-icon>
        </ion-button>
      </ion-col>-->
      
      <!--<ion-col size="2" class="nopadding">
        <ion-button expand="block" color="warning" (click)="notifications($event)">
          <ion-icon class="iconS" name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-col>-->
      <ion-col col-auto class="nopadding">
        <ng-container *ngIf="numberApex < thresholdApex; else elseTemplate">
          <ion-button expand="block" color="secondary" (click)="apexAlert()" > Observation :
            {{numberApex}}/{{thresholdApex}}</ion-button>
        </ng-container>
        <ng-template #elseTemplate>
          <ion-button expand="block" (click)="saveSession()" >Calculer ({{numberApex}} apex)
          </ion-button>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--<ion-toolbar>
    <div class="rognee">
      <ion-button expand="block" color="danger" (click)="parcelleEcimee()" class="iconSize">
        <ion-icon src="../../../assets/icon/cisaille.svg"></ion-icon>
      </ion-button>
    </div>
    <div class="rognee">
      <ion-button expand="block" color="danger" (click)="deleteLast()" class="iconSize">
        <ion-icon name="return-down-back-sharp"></ion-icon>
      </ion-button>
    </div>
    <div class="compute">
      <ng-container *ngIf="numberApex < thresholdApex; else elseTemplate">
        <ion-button expand="block" color="dark" (click)="apexAlert()" > Observation :
          {{numberApex}}/{{thresholdApex}}</ion-button>
      </ng-container>
      <ng-template #elseTemplate>
        <ion-button expand="block" (click)="saveSession()" >Calculer ({{numberApex}} apex)
        </ion-button>
      </ng-template>
    </div>
  </ion-toolbar>-->
</ion-footer>
