<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-grid *ngIf="idParcelle">
        <ion-row (click)="resetNomParcelle()">
          <ion-col>
            <ion-title>{{nomParcelle}}</ion-title>
          </ion-col>
          <ion-col col-auto>
            <ion-title class="alignRight">
              <ion-icon name="create"></ion-icon>
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    <div *ngIf="!idParcelle">
      <table class="parcelle">
        <tr>
          <td>
            <ion-item class="shadowInput" *ngIf="isList">
              <ion-label>Choisir une parcelle</ion-label>
              <ion-select [(ngModel)]="idParcelle" okText="Ok" cancelText="Annuler" (ionCancel)="onCancel()"
                (ionChange)="changeParcelle()">
                <ion-select-option *ngFor="let parcelle of selectParcelle" value="{{parcelle.id_parcelle}}">{{parcelle.nom_parcelle}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="!isList" class="al-right graycolor">
              <i>Ajouter le nom d'une parcelle -></i>
            </ion-item>
          </td>
          <td class="al-right">
            <ion-button small (click)="newNameParcelle()">
              <ion-icon name="add-circle"></ion-icon>
            </ion-button></td>
        </tr>
      </table>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-grid>
    <ion-row (click)="addapex('0')" class="box boxtop">
      <ion-col>
        <img src="assets/imgs/stadeP.jpg" class="imgBox" />
      </ion-col>
      <ion-col>
        <span class="apex-title">Pleine croissance</span>
      </ion-col>
    </ion-row>
    <ion-row (click)="addapex('1')" class="box boxbottom">
      <ion-col>
        <img src="assets/imgs/stadeR.jpg" class="imgBox" />
      </ion-col>
      <ion-col>
        <span class="apex-title">Croissance ralentie</span>
      </ion-col>
    </ion-row>
    <ion-row (click)="addapex('2')" class="box boxmiddle">
      <ion-col>
        <img src="assets/imgs/stadeC.jpg" class="imgBox" />
      </ion-col>
      <ion-col>
        <span class="apex-title">Arrêt de croissance</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="rognee">
      <ion-button expand="block" color="danger" (click)="parcelleEcimee()" class="iconSize">
        <ion-icon src="../../../assets/icon/cisaille.svg"></ion-icon>
      </ion-button>
    </div>
    <div class="compute">
      <ng-container *ngIf="numberApex < thresholdApex; else elseTemplate">
        <ion-button expand="block" color="dark" (click)="apexAlert()" > Observation :
          {{numberApex}}/{{thresholdApex}}</ion-button>
      </ng-container>
      <ng-template #elseTemplate>
        <ion-button expand="block" (click)="saveSession()" >Calculer ({{numberApex}} apex)
        </ion-button>
      </ng-template>
    </div>
  </ion-toolbar>
</ion-footer>
