<ion-header>
    <ion-toolbar class="ion-text-center toolbar-header">
      <ion-title>ApeX-Vigne authentification</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content class="ion-padding">
   
    <ion-row>
      <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
        offset-xl="4">
   
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Connexion</ion-card-title>
          </ion-card-header>
   
          <ion-card-content>
   
            <ion-item lines="none">
              <ion-label position="stacked">Email</ion-label>
              <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="credentials.email"></ion-input>
            </ion-item>
   
            <ion-item lines="none">
              <ion-label position="stacked">Mot de passe</ion-label>
              <ion-input type="password" placeholder="Mot de passe" name="password" [(ngModel)]="credentials.mot_de_passe">
              </ion-input>
            </ion-item>
   
            <ion-button (click)="login()" expand="block" class="button-margin">Se connecter</ion-button>
            <ion-button expand="block" color="secondary" routerLink="/register" routerDirection="forward">S'inscrire</ion-button>
   
            <ion-item lines="none">
              <div class="forgetpw" (click)="forgetpwd()">Mot de passe oublié ?</div>
            </ion-item>
          </ion-card-content>
        </ion-card>
   
        <!--<ion-button (click)="drop()" color="warning" expand="block">Drop Parcelle</ion-button>-->

      </ion-col>
    </ion-row>
   
    <ion-card *ngIf="nbUser2020 == 0 && userOld != null" >
      <ion-card-content>
        <ion-icon color="warning" name="information-circle"></ion-icon> Si vous utilisez ApeX-Vigne mais que vous n'avez de mot de passe cliquer sur : <br />
        <span class="forgetpw" (click)="forgetpwd()"><b>Générer un mot de passe</b></span>
      </ion-card-content>
    </ion-card>
  </ion-content>