<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [translate]="'contactUs'"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<p class="pjustify" [innerHTML]="'feedbackEmail' | translate"></p>

<h6 [translate]="'writeToUs'"></h6>
<ion-item>
  <ion-textarea rows="15" class="txt" placeholder="{{ 'emailContent' | translate }}" [(ngModel)]="emailtext"></ion-textarea>
</ion-item>
<ion-button (click)="sendEmail()" expand="block" [translate]="'sendEmail'"></ion-button>
</ion-content>
