<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nous contacter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<p class="pjustify">N'hésitez pas à nous faire part de vos <b>questions</b>, <b>remarques</b> ou <b>suggestions</b> relatives à l'utilisation de cette application en nous envoyant un e-mail.</p>

<h6>Nous écrire :</h6>
<ion-item>
  <ion-textarea rows="15" class="txt" placeholder="Corps de l'email..." [(ngModel)]="emailtext"></ion-textarea>
</ion-item>
<ion-button (click)="sendEmail()" expand="block">Envoyer l'e-mail</ion-button>
</ion-content>
