<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-grid *ngIf="idParcelle">
        <ion-row (click)="resetNomParcelle()">
          <ion-col>
            <ion-title>{{nomParcelle}}</ion-title>
          </ion-col>
          <ion-col col-auto>
            <ion-title class="alignRight">
              <ion-icon name="create"></ion-icon>
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    <div *ngIf="!idParcelle">
      <table class="parcelle">
        <tr>
          <td>
            <ion-item class="shadowInput" *ngIf="isList">
              <ion-label>Choisir une parcelle</ion-label>
              <ion-select [(ngModel)]="idParcelle" okText="Ok" cancelText="Annuler" (ionCancel)="onCancel()"
                (ionChange)="changeParcelle()">
                <ion-select-option *ngFor="let parcelle of selectParcelle" value="{{parcelle.id_parcelle}}">{{parcelle.nom_parcelle}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="!isList" class="al-right graycolor">
              <i>Ajouter le nom d'une parcelle -></i>
            </ion-item>
          </td>
          <td class="al-right">
            <ion-button small (click)="newNameParcelle()">
              <ion-icon name="add-circle"></ion-icon>
            </ion-button></td>
        </tr>
      </table>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col size="3" >
            <ion-label color="primary" stacked class="datecss">Date</ion-label>
        </ion-col>
        <ion-col>
            <ion-datetime [(ngModel)]="myDate" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" placeholder="{{myDate}}" doneText="ok" cancelText="annuler" ></ion-datetime>
        </ion-col>
    </ion-row>
  <ion-row>
    <ion-col>
      <ion-label color="primary" stacked>APEX : pleine croissance</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3" >
      <img src="assets/imgs/stadeP.jpg" class="imgsize" />
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-input type="number" min="0" placeholder="nombre ..." [(ngModel)]="numberof0value"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label color="primary" stacked>APEX : croissance ralentie</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3" >
      <img src="assets/imgs/stadeR.jpg" class="imgsize" />
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-input type="number" min="0" placeholder="nombre ..." [(ngModel)]="numberof1value"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label color="primary" stacked>APEX : croissance arrétée</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3" >
      <img src="assets/imgs/stadeC.jpg" class="imgsize" />
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-input type="number" min="0" placeholder="nombre ..." [(ngModel)]="numberof2value"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="rognee">
      <ion-button expand="block" color="danger" (click)="closeRognee()" class="iconSize">
        <ion-icon src="../../../assets/icon/cisaille.svg"></ion-icon>
      </ion-button>
    </div>
    <div class="compute">
        <ion-button expand="block" (click)="saveSession()" >
          Calculer les indices
        </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>