<ion-header>
  <ion-toolbar class="toolbar-header title_center">
    <ion-title>{{parcelle.nom_parcelle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <span class="titleCard">Suivi de la croissance</span>
    </ion-card-header>
    <ion-card-content class="cardChart" >
        <canvas #lineCanvasCroissance></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <span class="titleCard">Interprétation contrainte hydrique</span>
    </ion-card-header>
    <ion-card-content class="cardChart" >
      <canvas #lineCanvasContrainte></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="isList = !isList">
      <ion-icon name="caret-up-outline" *ngIf="isList"></ion-icon>
      <ion-icon name="caret-down-outline" *ngIf="!isList"></ion-icon>
      <span class="titleCard">Liste des observations</span>
    </ion-card-header>
    <ion-card-content *ngIf="isList">
      <ion-grid *ngFor="let dataSession of infoSession.dataSession">
        <ion-row>
          <ion-col size="auto">
            <p>Le {{dataSession.dateSession | date :  "dd/MM/yyyy"}} à {{dataSession.dateSession | date :  "HH:mm"}}</p>
          </ion-col>
          <ion-col size="2" class="right edit">
            <ion-icon name="build-sharp" (click)="editSession(dataSession.idSession)"></ion-icon>
          </ion-col>
          <ion-col size="2" class="right trash">
            <ion-icon name="trash-sharp" (click)="deleteSession(dataSession.idSession)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="isRename = !isRename">
      <ion-icon name="caret-up-outline" *ngIf="isRename"></ion-icon>
      <ion-icon name="caret-down-outline" *ngIf="!isRename"></ion-icon>
      <span class="titleCard">Renommer la parcelle</span>
    </ion-card-header>
    <ion-card-content *ngIf="isRename">
      <ion-item>
        <ion-label position="floating">Nouveau nom de la parcelle</ion-label>
        <ion-input placeholder="..." [(ngModel)]="newNameParcelle" ></ion-input>
      </ion-item>
      <ion-button expand="block" size="small" color="secondary" (click)="renameParcelle()">Renommer</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="isDelete = !isDelete">
      <ion-icon name="caret-up-outline" *ngIf="isDelete"></ion-icon>
      <ion-icon name="caret-down-outline" *ngIf="!isDelete"></ion-icon>
      <span class="titleCard">Supprimer la parcelle</span>
    </ion-card-header>
    <ion-card-content *ngIf="isDelete">
      <p>Cette action est irréversible et supprimera toutes les informations concernant la parcelle {{parcelle.nom_parcelle}}.</p>
      <ion-button expand="block" size="small" color="danger" (click)="deleteParcelle()">Supprimer</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer class="title_center">
  <ion-button (click)="close()" > Fermer </ion-button>
</ion-footer>