.toolbar-header {
    --background: rgba(76, 185, 196, 1);
    --background: -moz-linear-gradient(45deg, rgba(76, 185, 196, 1) 0%, rgba(61, 211, 174, 1) 100%);
    --background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(76, 185, 196, 1)), color-stop(100%, rgba(61, 211, 174, 1)));
    --background: -webkit-linear-gradient(45deg, rgba(76, 185, 196, 1) 0%, rgba(61, 211, 174, 1) 100%);
    --background: -o-linear-gradient(45deg, rgba(76, 185, 196, 1) 0%, rgba(61, 211, 174, 1) 100%);
    --background: -ms-linear-gradient(45deg, rgba(76, 185, 196, 1) 0%, rgba(61, 211, 174, 1) 100%);
    --background: linear-gradient(45deg, rgba(76, 185, 196, 1) 0%, rgba(61, 211, 174, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cb9c4', endColorstr='#3dd3ae', GradientType=1);
    --color: #ffffff;
}
ion-content{
    --background: rgb(155, 173, 182);
}
.title_center{
    text-align: center;
}

.cardChart{
    height: 250px;
    //width: 100%;
}

.title{
    text-align: center;
}

.titleCard{
    font-size: 1.3em;
}

.right{
    text-align: right;
}

.edit{
    color:royalblue;
 }

.trash{
   color: brown;
}

.center{
    text-align: center;
}

.testty{
    color: rgb(151, 162, 191);
}