<ion-header>
  <ion-toolbar class="toolbar-header title_center">
    <ion-title [translate]="'listPheno'"><ion-icon name="swap-vertical"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-list>
    <ion-item id='{{data.id_stade}}' *ngFor="let data of dataList" (click)="selectedStd(data)" [ngClass]="data.id_stade===isSelected.id_stade ? 'select' : 'noselect'">
      <ion-grid >
        <ion-row>
          <ion-col class="img"><img src="assets/stdpheno/{{data.url_image}}"  /></ion-col>
          <ion-col>
            <ion-row>
              <ion-col class="titleStade">{{data.nom}} <ion-icon name="alert-circle-outline" (click)="info(data)"></ion-icon></ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="sstitle">{{data.resume}}</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content> 
<ion-footer>
  <ion-button expand="block" (click)="saveStade()" [translate]="'validate'">
  </ion-button>
</ion-footer> 