<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <canvas id="barChart" class="vaten"></canvas>
  
  <h3 class="centerclass">Nouvelle observation</h3>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/imgs/leaf.png" class="imgnav box" (click)="openParcelleApex()" />
      </ion-col>
      <ion-col>
        <img src="assets/imgs/rang.png" class="imgnav box" (click)="openParcelleInput()" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <h3 class="centerclass">Liste des parcelles</h3>
  <ion-grid>
    <ion-radio-group [(ngModel)]="filter" (ionChange)="reloadData()">
    <ion-row>
      <ion-col size="4">
        <ion-item>
          Tri par :
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-label>Date</ion-label>
          <ion-radio value="date" ></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Nom</ion-label>
          <ion-radio value="nom" ></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-radio-group>
  </ion-grid>
  <ion-list class="bgdColor list-style">
    <ion-item-sliding #slidingItem *ngFor="let parcelle of parcelles">
      <ion-item>
        <ion-card class="globalcard" (click)="parcelleInfoPage(parcelle)">
          <ion-card-content>
            <ion-grid *ngIf="!parcelle.partage" class="gridParcelle">
              <ion-row class="gridParcelle">
                <ion-col class="gridParcelle"><p class="titlecard">{{parcelle.nom_parcelle}} </p></ion-col>
                <!--<ion-col size="auto"><ion-icon class="icon" name="eye"></ion-icon></ion-col>-->
              </ion-row>
            </ion-grid>
            <ion-grid *ngIf="parcelle.partage"  class="parcelleShare">
              <ion-row class="parcelleShare">
                <ion-col class="parcelleShare"><p class="titlecard">{{parcelle.nom_parcelle}} </p></ion-col>
                <ion-col size="auto" class="parcelleShare"><ion-icon class="share" name="share-social-sharp"></ion-icon></ion-col>
              </ion-row>
            </ion-grid>
            <p class="subtitlecard">Croissance au {{parcelle.date_session | date :  "dd/MM/yyyy"}} à {{parcelle.date_session | date :  "HH:mm"}}<br></p>
            <p class="center">{{parcelle.stade}}</p>
            <div *ngIf="parcelle.ifv_classe != 4; else ecimee" id="{{parcelle.nom_parcelle}}" class="dynamiqueChart" ></div>
            <ng-template #ecimee>
              <ion-grid>
                <ion-row>
                  <ion-col >
                    <img src="assets/imgs/rognee.png" class="iconRognee"/>
                  </ion-col>
                  <ion-col class="parcelleRognee"> 
                    Parcelle écimée
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ng-template>
            <ion-grid>
              <ion-row>
                <ion-col size="4" class="linecol">
                  <p class="subtitlecard" >iC-Apex</p>
                </ion-col>
                <ion-col size="8">
                  <p class="subtitlecard" >Dynamique de la croissance</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4" class="linecol">
                  <p *ngIf="parcelle.ifv_classe != 4" class="icapex-style">{{parcelle.ic_apex}}</p>
                  <p *ngIf="parcelle.ifv_classe == 4" class="icapex-style">-</p>
                </ion-col>
                <ion-col size="8">
                  <img *ngIf="parcelle.dynamique == 2" src="assets/imgs/f0.jpg" class="fleche" />
                  <img *ngIf="parcelle.dynamique == 1" src="assets/imgs/f1.jpg" class="fleche" />
                  <img *ngIf="parcelle.dynamique == 0" src="assets/imgs/f2.jpg" class="fleche" />
                  <img *ngIf="parcelle.dynamique == -1" src="assets/imgs/f3.jpg" class="fleche" />
                </ion-col>
              </ion-row>
            </ion-grid>
            <span *ngIf="user.model_ifv == 0" >
            <p class="titleCH">Interprétation de la contrainte hydrique</p>
            <ion-grid class="classIVF">
              <ion-row>
                <ion-col [ngClass]="(parcelle.ifv_classe == 0) ? 'absente' : 'absenteLight'">
                  Absente
                </ion-col>
                <ion-col [ngClass]="(parcelle.ifv_classe == 1) ? 'moderee' : 'modereeLight'">
                  Modérée
                </ion-col>
                <ion-col [ngClass]="(parcelle.ifv_classe == 2) ? 'importante' : 'importanteLight'">
                  Forte
                </ion-col>
                <ion-col [ngClass]="(parcelle.ifv_classe == 3) ? 'forte' : 'forteLight'">
                  Sévère
                </ion-col>
              </ion-row>
            </ion-grid>
          </span>
          <p class="center detail italic"><ion-icon  name="bar-chart-outline"></ion-icon> Détails de la parcelle...</p>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item-options side="start">
        <!--<ion-item-option color="tertiary" (click)="shareParcelle(parcelle, slidingItem)" class="item-side" ><ion-icon name="people-sharp"></ion-icon></ion-item-option>-->
        <ion-item-option color="tertiary" (click)="sendParcelle(parcelle, slidingItem)" class="item-side" ><ion-icon name="paper-plane-sharp"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteParcelle(parcelle.id_parcelle)" class="item-side" ><ion-icon name="trash-sharp"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button *ngIf="offset == 0" small color="light" class="smallbutton" >Prec.</ion-button>
  <ion-button *ngIf="offset != 0" small class="colorblue" (click)="loadless()">Prec.</ion-button>
  <ion-button *ngIf="!limiteMax" small class="colorgreen" (click)="loadmore()">Suiv.</ion-button>
  <ion-button *ngIf="limiteMax" small color="light" class="smallbutton" >Suiv.</ion-button>
</ion-footer>
