ion-content {
    --ion-background-color: white;
    // --ion-background-color: rgb(155, 173, 182);
    // --background: rgb(155, 173, 182);
}

ion-card {
    // background: yellow!important;
    width: 100%;
    background: white;
}

.linecol{
    border-right: solid 1px #86919b;
}
.icapex-style{
    color: rgb(0, 101, 130);
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
}

.item-side {
    font-size: 1.3em;
    height: 60%;
    margin-top: 20%;
    border-radius: 10px;
}

.item-size {
    width: 100%;
}
.card-content-md {
    padding: 4px;
}

.list-style{
    padding-top: 0;
    padding-bottom: 0;
}

.bgdColor {
    --ion-background-color: #B1B8BD;
    //--ion-background-color: rgb(155, 173, 182);
}

.globalcard {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.vaten {
    display: none;
}

.toolbar-header {
    --background: rgba(76, 185, 196, 1);
    --background: -moz-linear-gradient(45deg, rgba(76, 185, 196, 1) 0%, rgba(61, 211, 174, 1) 100%);
    --background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(76, 185, 196, 1)), color-stop(100%, rgba(61, 211, 174, 1)));
    --background: -webkit-linear-gradient(45deg, rgba(76, 185, 196, 1) 0%, rgba(61, 211, 174, 1) 100%);
    --background: -o-linear-gradient(45deg, rgba(76, 185, 196, 1) 0%, rgba(61, 211, 174, 1) 100%);
    --background: -ms-linear-gradient(45deg, rgba(76, 185, 196, 1) 0%, rgba(61, 211, 174, 1) 100%);
    --background: linear-gradient(45deg, rgba(76, 185, 196, 1) 0%, rgba(61, 211, 174, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cb9c4', endColorstr='#3dd3ae', GradientType=1);
    --color: #ffffff;
}

.dynamiqueChart{
    width: 100% !important;
    height: 100px !important;
}
.smallmenu {
    width: 30px;
    height: 30px;
}

.parcelleRognee {
    margin: auto;
    /* eh oui, tout bêtement */
    color: #656565;
}

.iconRognee {
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
}

.box {
    //background-color: rgba(194, 194, 194, 0.5);
    box-shadow: 2px 2px 3px rgb(82, 82, 82);
    margin-left: 20px;
    margin-right: 20px;
}

.imgnav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    border-radius: 50%;
}

.pieCard {
    height: 100px;
}

.pieCardHidde {
    visibility: hidden;
    display: none;
}

.chart {
    width: 150px;
    height: 90px;
}

.homePage {
    margin-top: 0.3em !important;
}

.scorebon {
    background-color: rgba(150, 247, 155, 0.616);
}

.scoremoyen {
    background-color: rgba(241, 183, 106, 0.616);
}

.scoremauvais {
    background-color: rgba(247, 150, 150, 0.616);
}

.scorehorrible {
    background-color: rgba(0, 0, 0, 0.308);
}

.datebad {
    color: rgb(221, 221, 221);
}

.absente {
    border: #494949 solid 1px;
    width: 25%;
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    background-color: rgb(204, 255, 255);
}

.absenteLight {
    border: white solid 1px;
    width: 25%;
    font-size: 0.8em;
    text-align: center;
    background-color: rgba(204, 255, 255, 0.15);
}

.modereeLight {
    border: white solid 1px;
    width: 25%;
    font-size: 0.8em;
    text-align: center;
    background-color: rgba(255, 255, 153, 0.15);
}

.moderee {
    border: #494949 solid 1px;
    width: 25%;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    background-color: rgb(255, 255, 153);
}

.importante {
    border: #494949 solid 1px;
    width: 25%;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    background-color: rgb(255, 204, 0);
}

.importanteLight {
    border: white solid 1px;
    width: 25%;
    font-size: 0.8em;
    text-align: center;
    background-color: rgba(255, 204, 0, 0.15);
}

.forte {
    border: #494949 solid 1px;
    width: 25%;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    background-color: rgb(255, 102, 0);
}

.forteLight {
    border: white solid 1px;
    width: 25%;
    font-size: 0.8em;
    text-align: center;
    background-color: rgba(255, 102, 0, 0.15);
}

.classIVF {
    color: rgba(0, 0, 0);
}

.titlecard {
    // background-color: #86919b;
    color: white;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
    padding: 0.1em;
    margin-bottom: 0.1em;
}

.fleche {
    margin-left: auto;
    margin-right: auto;
}

.constrainteHydrique {
    margin-left: auto;
    margin-right: auto;
    height: 1.5em;
    width: 100%;
}


.subtitlecard {
    font-weight: bold;
    margin-bottom: 0;
}

.titleCH {
    font-weight: bold;
    background-color: lavender;
    margin-bottom: 0.4em;
}



.deletebutton {
    font-size: 22px;
}

.centerclass {
    text-align: center;
}

.imglogo {
    display: block;
    height: 30px;
}

.fleche {
    height: 40px;
    width: 40px;
}

.tableGPS {
    text-align: center;
    width: 100%;
}

.result {
    width: 100%;
    color: rgb(0, 0, 0);
}

.iconslice {
    font-size: 35px;
}

.rightSide {
    text-align: right;
    margin-right: 20px;
}

.marginbutton {
    margin-left: 20px;

}

ion-footer {
    text-align: center;
    background-color: white;
}

.colorblue {
    --background: #006C83;
    height: 25px;
}

.colorgreen {
    // --background: #C5DC68;
    --background: rgba(76, 185, 196, 1);
    height: 25px;
}
.smallbutton{
    height: 25px;
}

.gridParcelle {
    background-color: #86919b;
    margin: 0;
    padding: 0;
}

.share {
    color: white;
    font-variant: small-caps;
    font-weight: bold;
    // color: #006C83;
    font-size: 1.3em;
    padding: 0.1em;
    margin-top: 0.2em;
}

.parcelleShare {
    margin: 0;
    padding: 0;
    // background-color: #657684;8AA299
    background-color: #485D70;
}

.italic {
    font-style: italic;
}
.icon {
    display: inline-block;
    font-size: 1em;
    // color: white;
    vertical-align: middle;
   }
   
.detail{
    margin-top: 0.3em;
}