<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [translate]="'home'"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <!--<ion-button (click)="openParcelleApexPage()">Test</ion-button>-->
  <canvas id="barChart" class="vaten"></canvas>
  <h3 class="centerclass" [translate]="'newObservation'"></h3>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/imgs/leaf.png" class="imgnav box" (click)="openParcelleApexPage()" />
      </ion-col>
      <ion-col>
        <img src="assets/imgs/rang.png" class="imgnav box" (click)="openParcelleInputPage()" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <h3 class="centerclass" [translate]="'listOfParcels'"></h3>
  <ion-grid>
    <ion-radio-group [(ngModel)]="filter" (ionChange)="reloadData()">
    <ion-row>
      <ion-col size="4">
        <ion-item [translate]="'sortby'">
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-label [translate]="'date'"></ion-label>
          <ion-radio value="date" ></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label [translate]="'name'"></ion-label>
          <ion-radio value="nom" ></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-radio-group>
  </ion-grid>
  <ion-list class="bgdColor list-style">
    <ion-item-sliding #slidingItem *ngFor="let parcelle of parcelles">
      <ion-item>
        <!--<ion-card class="globalcard" (click)="parcelleInfoPage(parcelle)">-->
        <ion-card class="globalcard" >
          <ion-card-content>
            <ion-grid *ngIf="!parcelle.partage" class="gridParcelle" (click)="parcelleInfoPage(parcelle)">
              <ion-row class="gridParcelle">
                <ion-col class="gridParcelle"><p class="titlecard">{{parcelle.nom_parcelle}} </p></ion-col>
                <!--<ion-col size="auto"><ion-icon class="icon" name="eye"></ion-icon></ion-col>-->
              </ion-row>
            </ion-grid>
            <ion-grid *ngIf="parcelle.partage"  class="parcelleShare" (click)="parcelleInfoPage(parcelle)">
              <ion-row class="parcelleShare">
                <ion-col class="parcelleShare"><p class="titlecard">{{parcelle.nom_parcelle}} </p></ion-col>
                <ion-col size="auto" class="parcelleShare"><ion-icon class="share" name="share-social-sharp"></ion-icon></ion-col>
              </ion-row>
            </ion-grid>
            <p class="subtitlecard" (click)="parcelleInfoPage(parcelle)"> <span [translate]="'growthOn'"></span> {{parcelle.date_session | datesExtra : 'dates'}} 
              <span [translate]="'at'"></span> {{parcelle.date_session | datesExtra : 'heures'}}<br></p> 
            <!--<ion-grid>
              <ion-col *ngIf="parcelle.stade != 'null'">{{parcelle.stade}}</ion-col>
              <ion-col *ngIf="parcelle.commentaire != null" (click)="showCommentaire(parcelle)">Voir commentaire</ion-col>
            </ion-grid>-->  
            <p class="center" *ngIf="parcelle.stade != 'null'">{{parcelle.stade}} </p>
            <p class="center" *ngIf="parcelle.commentaire != null" (click)="showCommentaire(parcelle)" [translate]="'seeComment'"><ion-icon name="chatbox-ellipses-outline"></ion-icon></p>
            <div class="hr"> </div>
            <div *ngIf="parcelle.ifv_classe != 4; else ecimee" id="{{parcelle.nom_parcelle}}" class="dynamiqueChart" (click)="parcelleInfoPage(parcelle)"></div>
            <ng-template #ecimee>
              <ion-grid (click)="parcelleInfoPage(parcelle)">
                <ion-row>
                  <ion-col >
                    <img src="assets/imgs/rognee.png" class="iconRognee"/>
                  </ion-col>
                  <ion-col class="parcelleRognee" [translate]="'toppedParcel'">
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ng-template>
            <ion-grid (click)="parcelleInfoPage(parcelle)">
              <ion-row>
                <ion-col size="4" class="linecol">
                  <p class="subtitlecard" >iC-Apex</p>
                </ion-col>
                <ion-col size="8">
                  <p class="subtitlecard" [translate]="'growthDynamics'"></p>
                </ion-col>
              </ion-row>
              <ion-row (click)="parcelleInfoPage(parcelle)">
                <ion-col size="4" class="linecol">
                  <p *ngIf="parcelle.ifv_classe != 4" class="icapex-style">{{parcelle.ic_apex}}</p>
                  <p *ngIf="parcelle.ifv_classe == 4" class="icapex-style">-</p>
                </ion-col>
                <ion-col size="8">
                  <img *ngIf="parcelle.dynamique == 2" src="assets/imgs/f0.jpg" class="fleche" />
                  <img *ngIf="parcelle.dynamique == 1" src="assets/imgs/f1.jpg" class="fleche" />
                  <img *ngIf="parcelle.dynamique == 0" src="assets/imgs/f2.jpg" class="fleche" />
                  <img *ngIf="parcelle.dynamique == -1" src="assets/imgs/f3.jpg" class="fleche" />
                </ion-col>
              </ion-row>
            </ion-grid>
            <span *ngIf="user.model_ifv == 0" (click)="parcelleInfoPage(parcelle)">
            <p class="titleCH" [translate]="'interpOfWaterStress'"></p>
            <ion-grid class="classIVF">
              <ion-row>
                <ion-col [ngClass]="(parcelle.ifv_classe == 0) ? 'absente' : 'absenteLight'" [translate]="'absent'">
                </ion-col>
                <ion-col [ngClass]="(parcelle.ifv_classe == 1) ? 'moderee' : 'modereeLight'" [translate]="'moderate'">
                </ion-col>
                <ion-col [ngClass]="(parcelle.ifv_classe == 2) ? 'importante' : 'importanteLight'" [translate]="'strong'">
                </ion-col>
                <ion-col [ngClass]="(parcelle.ifv_classe == 3) ? 'forte' : 'forteLight'" [translate]="'strict'">
                </ion-col>
              </ion-row>
            </ion-grid>
          </span>
          <p class="center detail italic" (click)="parcelleInfoPage(parcelle)" [translate]="'parcelDetails'"><ion-icon  name="bar-chart-outline"></ion-icon></p>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item-options side="start">
        <!--<ion-item-option color="tertiary" (click)="shareParcelle(parcelle, slidingItem)" class="item-side" ><ion-icon name="people-sharp"></ion-icon></ion-item-option>-->
        <ion-item-option color="tertiary" (click)="sendParcelle(parcelle, slidingItem)" class="item-side" ><ion-icon name="paper-plane-sharp"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteParcelle(parcelle.id_parcelle)" class="item-side" ><ion-icon name="trash-sharp"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button *ngIf="offset == 0" small color="light" class="smallbutton" [translate]="'prev'">Prec.</ion-button>
  <ion-button *ngIf="offset != 0" small class="colorblue" (click)="loadless()" [translate]="'prev'">Prec.</ion-button>
  <ion-button *ngIf="!limiteMax" small class="colorgreen" (click)="loadmore()" [translate]="'next'">Suiv.</ion-button>
  <ion-button *ngIf="limiteMax" small color="light" class="smallbutton" [translate]="'next'">Suiv.</ion-button>
</ion-footer>
