<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="centerclass">Nouvelle observation</h3>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/imgs/leaf.png" class="imgnav box" (click)="openParcelleApex()" />
      </ion-col>
      <ion-col>
        <img src="assets/imgs/rang.png" class="imgnav box" (click)="openParcelleInput()" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <h3 class="centerclass">Liste des parcelles</h3>
  {{lng}}
  {{lat}}
</ion-content>