<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title (click)="downloadAllData()">Compte et données</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content *ngIf="!isEdit">
      <p class="titlecard">Vos informations personnelles</p>
      <ion-grid class="leftSize">
        <ion-row>
          <ion-col size="auto">
            <ion-icon name="person"></ion-icon>
          </ion-col>
          <ion-col >
            {{user.prenom}}
          </ion-col>
          <ion-col >
            {{user.nom}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="auto">
            <ion-icon name="mail"></ion-icon>
          </ion-col>
          <ion-col >
            {{user.email}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="auto">
            <ion-icon name="briefcase"></ion-icon>
          </ion-col>
          <ion-col >
            {{user.structure}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col pullLg class="center">
            <ion-button size="small" color="light" (click)="isEdit = !isEdit" > Editer </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-card-content *ngIf="isEdit">
      <p class="titlecard">Editer vos informations personnelles</p>
      <form [formGroup]="registrationForm" (ngSubmit)="updateUser()">
        <ion-item>
          <ion-label position="floating">Prénom</ion-label>
          <ion-input autocapitalize inputmode="text" formControlName="prenom" [(ngModel)]="user.prenom" ></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.prenom">
          <ng-container *ngIf="prenom.hasError(error.type) && (prenom.dirty || prenom.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
  
        <ion-item>
          <ion-label position="floating">Nom</ion-label>
          <ion-input autocapitalize inputmode="text" formControlName="nom" [(ngModel)]="user.nom"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.nom">
          <ng-container *ngIf="nom.hasError(error.type) && (nom.dirty || nom.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
  
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input inputmode="text" formControlName="email" [(ngModel)]="user.email"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.email">
          <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
  
        <ion-item>
          <ion-label position="floating">Structure</ion-label>
          <ion-input inputmode="text" formControlName="structure" [(ngModel)]="user.structure"></ion-input>
        </ion-item>
 
        <ion-grid>
          <ion-row>
            <ion-col pullLg class="center">
              <ion-button size="small" color="light" (click)="isEdit = !isEdit" > Annuler </ion-button>
            </ion-col>
            <ion-col pullLg class="center">
              <ion-button size="small" type="submit" [disabled]="!registrationForm.valid"> Valider</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
    <ion-card-content>
      <p class="titlecard">Votre mot de passe</p>
      <ion-grid>
        <ion-row *ngIf="!isPwd" (click)="isPwd = !isPwd" >
          <ion-col size="auto">
            <ion-icon name="eye"></ion-icon>
          </ion-col>
          <ion-col>
            Voir votre mot de passe actuel
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isPwd" (click)="isPwd = !isPwd" >
          <ion-col size="auto">
            <ion-icon name="eye-off"></ion-icon>
          </ion-col>
          <ion-col>
            {{user.mdp}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col pullLg class="center">
            <ion-button size="small" color="light" (click)="changePwd()" > Changer mot de passe </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <ion-card-content>
      <p class="titlecard">Langage de l'application</p>
        <ion-row class="langage">
          <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()" style="color: black;">
            <ion-select-option *ngFor="let country of supportedLanguages | keyvalue" value="{{country.value}}"> {{country.key}} </ion-select-option>
          </ion-select>
          <ion-img [src]="languageIconPath" style="margin-left: 3%;"></ion-img>
        </ion-row>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-content>
      <p class="titlecard">Gestion des données <ion-icon name="help-circle" (click)="info()"></ion-icon></p>
      <ion-grid class="center">
        <ion-row>
          <ion-col class="linecol" size="6">
            <ion-button size="small" color="secondary" (click)="sendData()" ><ion-icon name="paper-plane"></ion-icon> Envoyer </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button size="small" color="tertiary" (click)="receiveData()" ><ion-icon name="cloud-download"></ion-icon> Synchroniser </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="linecol" size="6">
            Envoyer toutes vos données par email (CSV)
          </ion-col>
          <ion-col size="6">
            Synchroniser vos données du serveur (ApeX-Vigne)
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p class="titlecard">Configuration</p>
      <p>Interprétation de la contrainte hydrique </p>
      <ion-item>
        <ion-label>Module de l'IFV (<span *ngIf="isIfv" >activé</span><span *ngIf="!isIfv" >désactivé</span>)</ion-label>
        <ion-toggle [(ngModel)]="isIfv" (ionChange)="updateIFV()" ></ion-toggle>
      </ion-item>
    </ion-card-content>

    <ion-card-content>
      <p class="titlecard">Observation des apex</p>
      <p class="leftSize">Définissez le nombre minimum d'apex à observer pour chaque parcelle.</p>

      <ion-item class="leftSize">
        <ion-label color="primary">
          Nombre d'apex à observer
        </ion-label>
        <ion-input type="number" placeholder="nombre ..." [(ngModel)]="threshold"></ion-input>
      </ion-item>
      <div class="center"><ion-button size="small" color="secondary"  (click)="updateThreshold()">Valider</ion-button></div>
    </ion-card-content>
  </ion-card>

</ion-content>
