<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title (click)="downloadAllData()" [translate]="'account'"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content *ngIf="!isEdit">
      <p class="titlecard" [translate]="'yourInfos'"></p>
      <ion-grid class="leftSize">
        <ion-row>
          <ion-col size="auto">
            <ion-icon name="person"></ion-icon>
          </ion-col>
          <ion-col >
            {{user.prenom}}
          </ion-col>
          <ion-col >
            {{user.nom}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="auto">
            <ion-icon name="mail"></ion-icon>
          </ion-col>
          <ion-col >
            {{user.email}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="auto">
            <ion-icon name="briefcase"></ion-icon>
          </ion-col>
          <ion-col >
            {{user.structure}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col pullLg class="center">
            <ion-button size="small" color="light" (click)="isEdit = !isEdit" [translate]="'edit'"></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-card-content *ngIf="isEdit">
      <p class="titlecard" [translate]="'editInfos'"></p>
      <form [formGroup]="registrationForm" (ngSubmit)="updateUser()">
        <ion-item>
          <ion-label position="floating" [translate]="'surname'"></ion-label>
          <ion-input autocapitalize inputmode="text" formControlName="prenom" [(ngModel)]="user.prenom" ></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.prenom">
          <ng-container *ngIf="prenom.hasError(error.type) && (prenom.dirty || prenom.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
  
        <ion-item>
          <ion-label position="floating" [translate]="'name'"></ion-label>
          <ion-input autocapitalize inputmode="text" formControlName="nom" [(ngModel)]="user.nom"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.nom">
          <ng-container *ngIf="nom.hasError(error.type) && (nom.dirty || nom.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
  
        <ion-item>
          <ion-label position="floating" [translate]="'email'"></ion-label>
          <ion-input inputmode="text" formControlName="email" [(ngModel)]="user.email"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.email">
          <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
  
        <ion-item>
          <ion-label position="floating" [translate]="'structure'"></ion-label>
          <ion-input inputmode="text" formControlName="structure" [(ngModel)]="user.structure"></ion-input>
        </ion-item>
 
        <ion-grid>
          <ion-row>
            <ion-col pullLg class="center">
              <ion-button size="small" color="light" (click)="isEdit = !isEdit" [translate]="'cancel'"> </ion-button>
            </ion-col>
            <ion-col pullLg class="center">
              <ion-button size="small" type="submit" [disabled]="!registrationForm.valid" [translate]="'validate'"></ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
    <ion-card-content>
      <p class="titlecard" [translate]="'yourPwd'"></p>
      <ion-grid>
        <ion-row *ngIf="!isPwd" (click)="isPwd = !isPwd" >
          <ion-col size="auto">
            <ion-icon name="eye"></ion-icon>
          </ion-col>
          <ion-col [translate]="'seePwd'">
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isPwd" (click)="isPwd = !isPwd" >
          <ion-col size="auto">
            <ion-icon name="eye-off"></ion-icon>
          </ion-col>
          <ion-col>
            {{user.mdp}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col pullLg class="center">
            <ion-button size="small" color="light" (click)="changePwd()" [translate]="'changePwd'"></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <ion-card-content>
      <p class="titlecard" [translate]="'appLang'"></p>
        <ion-row class="langage">
          <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()" okText="{{ 'okBtn' | translate }}" cancelText="{{ 'cancel' | translate }}" style="color: black;">
            <ion-select-option *ngFor="let country of supportedLanguages | keyvalue" value="{{country.value}}"> {{country.key}} </ion-select-option>
          </ion-select>
          <ion-img [src]="languageIconPath" style="margin-left: 3%;"></ion-img>
        </ion-row>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-content>
      <p class="titlecard" [translate]="'dataManag'"> <ion-icon name="help-circle" (click)="info()"></ion-icon></p>
      <ion-grid class="center">
        <ion-row>
          <ion-col class="linecol" size="6">
            <ion-button size="small" color="secondary" (click)="sendData()" [translate]="'send'"><ion-icon name="paper-plane"></ion-icon> </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button size="small" color="tertiary" (click)="receiveData()" [translate]="'sync'"><ion-icon name="cloud-download"></ion-icon> </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="linecol" size="6" [translate]="'sendCsv'">
          </ion-col>
          <ion-col size="6" [translate]="'syncServer'">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p class="titlecard" [translate]="'config'"></p>
      <p [translate]="'interpOfWaterStress'"></p>
      <ion-item>
        <ion-label> <span [translate]="'ifvModule'"> </span> (<span *ngIf="isIfv" [translate]="'activated'"></span><span *ngIf="!isIfv" [translate]="'desactivated'"></span>)  </ion-label>
        <ion-toggle [(ngModel)]="isIfv" (ionChange)="updateIFV()" ></ion-toggle>
      </ion-item>
    </ion-card-content>

    <ion-card-content>
      <p class="titlecard" [translate]="'obsApex'"></p>
      <p class="leftSize" [translate]="'minimumApex'"></p>

      <ion-item class="leftSize">
        <ion-label color="primary" [translate]="'nbApexObs'">
        </ion-label>
        <ion-input type="number" placeholder="{{ 'number' | translate }}" [(ngModel)]="threshold"></ion-input>
      </ion-item>
      <div class="center"><ion-button size="small" color="secondary"  (click)="updateThreshold()" [translate]="'validate'"></ion-button></div>
    </ion-card-content>
  </ion-card>

</ion-content>
